<?xml version="1.0" encoding="UTF-8"?>
<!-- - Copyright 1999-2011 Alibaba Group. - - Licensed under the Apache License,
	Version 2.0 (the "License"); - you may not use this file except in compliance
	with the License. - You may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0
	- - Unless required by applicable law or agreed to in writing, software -
	distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the
	License for the specific language governing permissions and - limitations
	under the License. -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-autowire="byName">

    <!-- 启用spring mvc , 可以将request参数绑定到controller参数上。 需添加扫描器, 否则无法访问controller, 而且扫描器必须和mvn:annotation-driven 在同一xml中(也可能是只需要在同级applicationContext
   中, applicationContext.xml 是 spring-servlet.xml 的parent, 就不能将 <mvc:annotation-driven>放在spring-servlet.xml, <component-scan>放在applicationContext.xml中 -->
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.wy">
    </context:component-scan>

    <!-- 静态资源访问  如果开启了springmvc 必须配置，否则无法访问静态资源. -->
    <mvc:resources mapping="/js/**" location="/statics/js/"/>
    <mvc:resources mapping="/image/**" location="/statics/images/"/>
    <mvc:resources mapping="/view/**" location="/statics/view/"/>

    <context:annotation-config/>


    <!--通知spring使用cglib而不是jdk的来生成代理方法-->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
    <!--
    <aop:aspectj-autoproxy/>
    -->

    <!-- ================================== 引入配置文件 ====================================== -->
    <context:property-placeholder location="classpath:properties/*.properties"/>
    <!--
    <import resource="classpath:springmvc-resteasy.xml"/>
    -->
    <import resource="classpath:spring/aop/xmlaop.xml"/>
    <!--
    <import resource="classpath:dubbo/dubbo.xml" />
    -->
    <import resource="classpath:mybatis/mybatis.xml"/>

    <!-- ================================== api bean begin ====================================== -->
    <bean id="restService" class="com.wy.myweb.restful.resteasy.RestImpl"/>
    <!-- ================================== api bean end ====================================== -->

    <!-- ================================== elastic job begin ====================================== -->
    <!--
    <reg:zookeeper id="jobRegisterCenter" server-lists="127.0.0.1:2181" namespace="wy-elastic-job" base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />

    <job:simple id="mySimpleJob" class="cn.wy.biz.service.elasticjob.MySimpleJob" registry-center-ref="jobRegisterCenter"
                cron="0/10 * * * * ?"
                disabled="false"
                monitor-execution="true"
                failover="true"
                overwrite="true"
                sharding-total-count="1"
                sharding-item-parameters=""
                description="测试" />
    -->
    <!-- ================================== elastic job end ====================================== -->


    <!-- ================================== interceptor begin ====================================== -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--
            <mvc:exclude-mapping path="/myweb"/>
            -->
            <bean class="com.wy.myweb.interceptors.HelloInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- ================================== interceptor end ====================================== -->

</beans>
